.welcome-section{
    width: 100%;
}


@media(max-width:460px)
{
    html, body{
        font-size:55%;
    }
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #f5f5;

}