.welcome-section{
    width: 100%;
}


@media(max-width:460px)
{
    html, body{
        font-size:55%;
    }
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 12;
    background-color: #f5f5;

}